// Colors
$white: #fff;
$black: #000000;
$primary-color: #7ed321;
$dark-grey: #a7a7a7;
$grey-bg: #fafafa;
$body-bg: #ffffff;
$footer-bg: #362e2c;
$text-color: #000000;
$dark-blue: #091b36;
$base-btn2-hover: #c2b7b1;
$red: #d32121;
$orange: #ffb300;

//Fonts
$base-font: 'Lato';
$base-font-size: 16px;
$thin-font: 100;
$light-font: 300;
$regular-font: 400;
$medium-font: 500;
$semibold-font: 600;
$bold-font: 700;
$big-title-size: 50px;
$small-title-size: 24px;


// Paths
$img-url: '../../img';
$font-url: '../../fonts';
$fa-font-path: '../../../node_modules/@fortawesome/fontawesome-free/webfonts';

// BS container widths
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1110px,
);

$grid-columns: 60;
