// Default style
body,
html {
  overflow-x: hidden;
}

body {
  font-family: $base-font !important;
  margin: 0;
  background: $body-bg;
  font-size: $base-font-size;
  font-weight: $light-font;
}

.noscroll {
  overflow: hidden;
  height: 100%;
}
