// Default typography

ul {
  margin-bottom: 0 !important;
}

a {
  text-decoration: none !important;
}

a,
button {
  @include transitions(
    color 0.2s ease-in-out,
    opacity 0.2s ease-in-out,
    background-color 0.2s ease-in-out
  );
}

button {
  background: none;
  border: none;
  outline: none !important;
}



